<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @react.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @react.phone %>
</p>

<%= link_to 'Edit', edit_react_path(@react) %> |
<%= link_to 'Back', reacts_path %>
